<div><mat-nav-list>
   
    <div class="profile-card">
               <img src="assets/docteur.jpg" alt="Soufiane FADIL">
               <div class="header">
                <h3>{{name}}</h3> 
                   </div>
    </div>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>import_contacts</mat-icon>
        Dashboard
      </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="">
        <mat-icon>person</mat-icon>
        Patient
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="">
        <mat-icon>calendar_today</mat-icon>
        calendar
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="">
        <mat-icon>settings</mat-icon>
        settings
    </a>
    <a class="logOut" mat-list-item routerLinkActive="list-item-active" routerLink="">
        <mat-icon>exit_to_app</mat-icon>
        Log out
    </a>
</mat-nav-list></div>