<div class="side"><mat-nav-list>
   
    <div class="profile-card">
               <img src="assets/ICON3.png" alt="Soufiane FADIL">
               <div class="header">
                <h3>{{name}}</h3> 
                   </div>
    </div>
    <a mat-list-item routerLinkActive="list-item-active" (click)="getclients()">
        <mat-icon>import_contacts</mat-icon>
        clients
      </a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="getCreateClient()">
        <mat-icon>import_contacts</mat-icon>
        CreateClient
      </a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="getclientsByid()">
        <mat-icon>import_contacts</mat-icon>
        clientsByid      </a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="getheartbeats()">
        <mat-icon>import_contacts</mat-icon>
        heartbeats
      </a>
      <a class="logOut" mat-list-item routerLinkActive="list-item-active" routerLink="">
        <mat-icon>exit_to_app</mat-icon>
        Log out
    </a>

    
</mat-nav-list></div>
