<div class="side"><mat-nav-list>

    <div class="profile-card">
               <img src="assets/ICON3.png" alt="Soufiane FADIL">
               <div class="header">
                <h3>{{name}}</h3>
                   </div>
    </div>
    <a mat-list-item routerLinkActive="list-item-active" (click)="getdDashboard()" *ngIf="isUser()">
        <mat-icon>dashboard</mat-icon>
        /
        <mat-icon>bookmark</mat-icon>

        Dashboard
      </a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="getclients()" *ngIf="isAdmin()">
        <mat-icon>account_circle</mat-icon>
        Patient profile
      </a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="getCreateClient()" *ngIf="isAdmin()">
        <mat-icon>add</mat-icon>
        Add profile
      </a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="getheartbeats()" *ngIf="isAdmin()">
        <mat-icon>favorite_outline</mat-icon>
        heartbeats
      </a>
      <a class="logOut" mat-list-item routerLinkActive="list-item-active" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Log out
      </a>


</mat-nav-list></div>
