:host {
  .side{
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    background-color: #363D43;

  }
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
    color: #fff;
  }
  .profile-card {
    text-align: center;
    vertical-align: middle;
    }

  .a{
    color: #fff;
  }

  img {
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
      margin-left: 2VW;
      height: 180px;;
      width: 180px;
      object-fit: cover;
  }
/*
  .logOut{
     // bottom: 10px; Adjust the value as needed to position the button 
       Adjust the value or use margin-left to horizontally center the button 
     // transform: translateX(-50%); */

  }