<div class="card-wrapper">
  <mat-card class="example-card">
    <div class="card-content">
      <div class="text-content1">

        <h2>Patient Info:</h2>
        <div class="divpic">
          <img class="img" src="assets/docteur.jpg" alt="prophil">
          <h4>{{ nom }} {{ prenom }}</h4>
        </div>
      </div>
      <div class="goldenbox__content text-content2 first"  >
        <ul class="goldenbox__content__list ">
          <li class="goldenbox__content__list__item ">
            <div class="value">{{ data1 }}</div>

            <div class="subject">Heart Beat</div>
          </li>
          <li class="goldenbox__content__list__item ">
            <div class="value">{{ data2 }}</div>

            <div class="subject">Temperature</div>
          </li>

        </ul>
      </div>
      <div class="text-content2">
        <ul>
          <li class="goldenbox__content__list__item ">
            <div class="value">{{ data3 }}</div>

            <div class="subject">Pression</div>
          </li>
          <li class="goldenbox__content__list__item ">
            <div class="value date">{{ datePrelevement }}</div>

            <div class="subject ">Last control</div>
          </li>
        </ul>
      </div>
      <div class="text-content2">
        <ul>
          <li class="goldenbox__content__list__item ">
            <div class="value"> A+
            </div>

            <div class="subject">Blood </div>
          </li>
          <li class="goldenbox__content__list__item ">
            <div class="value"> --
            </div>

            <div class="subject">Weight </div>
          </li>
        </ul>
      </div>
      <div class="text-content2">
        <ul goldenbox__content__list>
          <li class="goldenbox__content__list__item">
            <div class="value"> F/M
            </div>

            <div class="subject">Sex </div>
          </li>
          <li class="goldenbox__content__list__item ">
            <div class="value"> 20
            </div>

            <div class="subject">Age </div>
          </li>
          
        </ul>
      </div>

    </div>

  </mat-card>
</div>
<div class="card-content-prime">
<mat-card>

  <app-heartbeat-chart></app-heartbeat-chart>
</mat-card>
</div>
