<div class="client-detail-container">
  <h2>Client Details</h2>
  <div class="client-details">
    <div class="photo-placeholder">
      <img src="icone.jpg" alt="Client Image">
    </div>
    <div class="detail-column">
      <div class="detail-row">
        <span class="detail-label">Client ID:</span>
        <span class="detail-value">{{ client.id }}</span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Client MAC:</span>
        <span class="detail-value">{{ client.mac }}</span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Client Name:</span>
        <span class="detail-value">{{ client.nom }}</span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Client Surname:</span>
        <span class="detail-value">{{ client.prenom }}</span>
      </div>
    </div>
    <div class="detail-column">
      <div class="detail-row">
        <span class="detail-label">Client Phone:</span>
        <span class="detail-value">{{ client.tel }}</span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Client Address:</span>
        <span class="detail-value">{{ client.adresse }}</span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Client Email:</span>
        <span class="detail-value">{{ client.mail }}</span>
      </div>
    </div>
  </div>
</div>
